.recognition-image {
    height: 250px;
}

.profile-thumbnail {
    height: 100px;
}

.logs {
    height: 150px;
}

.phunter-heading {
    font-weight: 300;
}

.codename-heading {
    font-weight: 100;
}